body {
    margin: 0%;
    padding: 0%;
    background-color: #e6f6ff;
}

.Cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

#titulo-link {
    margin-left: 70px;
}

.links-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start ;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    flex-wrap: nowrap;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 70px;
}

.info-home {
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
}

.img-home {
    display: flex;
    width: 50%;
    flex-direction: row;
}

